<%- include("partials/header.ejs") %>
<main>
  
  
  <h1 class="text-center text-5xl">Business Name Generator</h1>
  <p class="py-6 text-center">Select a category and generate creative names</p>
  
  
<div class="flex container flex-col justify-center m-auto">

  <h2>Choose Category</h2>

  <!-- Category Grid -->
  <div class="grid grid-rows-3 grid-cols-4">


    <!-- Category Card -->
<div class="card card-sm bg-base-200 max-w-60 shadow cursor-pointer">
  <figure class="hover-gallery">
    <img src="https://img.daisyui.com/images/stock/daisyui-hat-1.webp" />
    <img src="https://img.daisyui.com/images/stock/daisyui-hat-2.webp" />
    <img src="https://img.daisyui.com/images/stock/daisyui-hat-3.webp" />
    <img src="https://img.daisyui.com/images/stock/daisyui-hat-4.webp" />
  </figure>
  <div class="card-body">
    <h2 class="card-title flex justify-between">
      Technology
    </h2>
    <p>High Quality classic cap hat with stitch logo</p>
  </div>
</div>


  </div>


      <div class="w-full flex justify-center items-center">
          <button class="btn btn-neutral w-fit  p-6">Generate Name</button>
      </div>

</div>
  
</main>

<%- include("partials/footer.ejs") %>
