<%- include("partials/header") %>
<%- include("partials/layout.ejs") %>

<h1 class="results-heading hidden text-center p-6"><%- categoryName %> Business Names</h1>

<!--Loading indicator-->
<div class="flex justify-center flex-col p-6 gap-2">
  <div class="aiResponse text-center">Generating</div>
  <div class="loading m-auto  hidden"></div>
  
  <!--Results table-->
</div>
<div class=" results h-full overflow-x-auto relative ">

<!--Iterate skeleton loader-->
<div class="flex skeleton-container w-full flex-col gap-2">
  <% for (let i = 0; i < 6; i++) { %>
  <div class="skeleton h-12 w-full"></div>
  <div class="skeleton h-12 w-full"></div>
  <div class="skeleton h-12 w-full"></div>
  <br>
  <% } %>
</div>

</div>




<%- include("partials/footer.ejs") %>