</div>
</main>
<footer class="footer sm:footer-horizontal footer-center bg-base-100 text-center text-base-content p-4">
 <aside>
   <p>Copyright © <%- new Date().getFullYear()  %> - All rights reserved by Brandon Jenkins </p>
 </aside>
</footer>
<script src="/js/carousel.js"></script>
<script src="/js/main.js"></script>
</body>
</html>