<!DOCTYPE html>
<html lang="en" data-theme="dark" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= title %></title>
  <link rel="stylesheet" href="/styles.css">
</head>
<!--Checks for categoryName and adds data-category attribute-->
<% if (typeof categoryName !== "undefined") { %>
  <body data-category="<%= categoryName %>">
<% } else { %>
  <body>
<% } %>
  


<!-- Navbar -->
<nav class="navbar bg-base-100 shadow-sm flex justify-between">
  <a href="/" class="btn btn-ghost  text-xl">Nameify</a>
  <div class="dropdown dropdown-end">
    <div tabindex="0" role="button" class="btn btn-ghost m-1 text-xl">
      Theme
      <svg
        width="12px"
        height="12px"
        class="inline-block h-2 w-2 fill-current opacity-60 ml-2"
        xmlns="http://www.w3.org/2000/svg"
        viewBox="0 0 2048 2048">
        <path d="M1799 349l242 241-1017 1017L7 590l242-241 775 775 775-775z"></path>
      </svg>
    </div>
    <ul tabindex="0" class="dropdown-content bg-base-300 rounded-box z-[1] w-52 p-2 shadow-2xl">
      <li>
        
          <button
        
            class="btn btn-sm btn-block btn-ghost justify-center"
            data-set-theme="default"
            data-act-class="btn-active">
            Default
          </button>
  
      </li>
      <li>
        <button 
          class="btn btn-sm btn-block btn-ghost justify-center"
          data-set-theme="retro" 
          data-act-class="btn-active">
          Retro
        </button>
      </li>
      <li>
        <button 
          class="btn btn-sm btn-block btn-ghost justify-center"
          data-set-theme="cyberpunk" 
          data-act-class="btn-active">
          Cyberpunk
        </button>
      </li>
      <li>
        <button 
          class="btn btn-sm btn-block btn-ghost justify-center"
          data-set-theme="valentine" 
          data-act-class="btn-active">
          Valentine
        </button>
      </li>
      <li>
        <button 
          class="btn btn-sm btn-block btn-ghost justify-center"
          data-set-theme="aqua" 
          data-act-class="btn-active">
          Aqua
        </button>
      </li>
    </ul>
  </div>
</nav>
</nav>